In [14]:
def moveZeroes(nums):
    left = 0
    for i in range(0,len(nums)):
        if nums[i]!= 0:
            nums[left] = nums[i]
            left = left +1

    while left < len(nums):
        nums[left] = 0
        left = left +1
        
    return nums


nums = [1,2,0,3,0,0,4]
print(moveZeroes(nums))

[1, 2, 3, 4, 0, 0, 0]

In [8]:
查询属于部门 5 的员工，并按员工的 employee_id 升序排列。
查询员工的姓名和他们的直接上级的姓名，要求你创建一个 CTE 来获取员工和上级的关系。
编写一个递归 CTE，查询公司中每个员工的直属下属（递归查询）。

with relation as(
    select *
    from
    employees A
    left join
    employees B
    on A.point_to = B.employee_id
)
select A.employee_nam,B.employee_id
from relation

1